body{
    margin: 10px;
    padding: 10px;   
}
/* div{
    border: 1px solid;
} */

/*nav bar*/


#nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
#logo{
    height: 26px;
}
/* div{
    border: 1px solid;
} */
input[type=search]{
    padding-top: 2.4%;
    margin-right: -4%;
}
#left img{
    margin:10px;
}
button img {
    margin:0px;
    
}
form{
    margin-top: 1%;
}

/* main section*/

.sub{
    display: flex;
    width: 100%;
}
.video{
    width: 60%;
    margin-top: 1%;
}
.embeded{
    width: 100%;
}
.aside{
    width:40%;
}
#footer-icons {
    padding-left: 15%;
    padding-top: -5%;
    display: inline;
    float: right;
    width: 100%;
}

#info{
    border-bottom: 1px solid;
    width: 100%;
}

.inline{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    max-height: 200px;
}
#datagirl{
    font-size: 1.2em;
    margin-top: -5px;
}
.girl{
    margin-top: 2%;
    
}
.Submit{
    background-color: red;
    margin-bottom: 60px;
    margin-left: 5px;
    padding: 6px;
    justify-content: center;
    border: none;
    color: white;
}
.down h4{
    margin-top:10px;
    margin-left: 2px;
}
.pupra{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-top: 10px;
}
#show-more{
    width: 100%;
    border: none;
    padding: 1%;
}

.footer{
    max-height: 100px;
}

#num-views{
    text-align: right;
    width: 20px;    
}

#num-views h3{
    border-bottom: 3px solid blue;
}
.buttons button{
   background: none;
   border: none;
    
}
.likes{
float: right;
    
}